DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
POSTGRES_DB=brewtech_db
POSTGRES_USER=brewtech_user
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
